.header {
    grid-area: h;
    background-color: #fff;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.logo {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    align-items: center;
}

.logo p {
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 5px;
    font-weight: 900;
    letter-spacing: 0.1rem;
    color: #0676fd;
    text-transform: uppercase;
    font-size: 20px;
}

.logo svg {
    margin-left: 50px;
    width: 30px;
    height: 30px;
    color: #ffffff;
    background-color: #0676fd;
}


.headerWrapper {
    display: flex;

}


.headerInputBlock {
    margin-left: 15px;
    display: flex;
    justify-content: flex-start;
}


.headerInputList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    list-style-type: none;

}

.headerInputList > li {
    margin: 0;
    padding: 0;
}

.headerInputList svg {
    width: 24px;
    height: 24px;
    color: gray;
}

.headerLoginButtonBlock {
    margin-left: 450px;
    display: flex;
}


.headerLoginButtonList {
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    align-self: center;
    list-style-type: none;
}

.headerLoginButtonList svg {
    width: 28px;
    height: 28px;
    color: gray;
}

.loginButtonsItems {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.loginButtonsItems img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.loginButtonsItems a {
    padding: 5px 10px;
    border-radius: 10px;
    /*background-color: #ebecee;*/
    text-decoration: none;
    font-weight: 600;
    color: gray;
}

.loginButtonsItems a:active {
    text-decoration: none;
    font-weight: 600;
    color: gray;
}

.loginButtonsItems a:hover {
    background-color: #dfe6ed
}

.loginButtonsItems svg:hover {
    cursor: pointer;
}

.navLinkBlock {
    padding: 5px 10px;

}

.navLinkBlock:hover {
    background-color: #dfe6ed;
    border-radius: 10px;
    cursor: pointer;

}

.headerLoginButtonMenu {
    position: relative;
    padding: 5px 10px;
}

.headerLoginButtonMenu:hover {
    background-color: #dfe6ed;
    border-radius: 10px;
}







