.header {
    grid-area: h;
    padding-left: 32px;
    background-color: #fff;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.header span {
    margin-left: 10px;
    font-weight: 900;
    line-height: 18px;
    letter-spacing: 0.2rem;
    color: #0676fd;
    text-transform: uppercase;
}

.headerLogo {
    width: 24px;
    height: 24px;
    margin: 10px 15px;
    color: #ffffff;
    background-color: #0676fd;
}