.nav {
    grid-area: n;
    background-color: #ebecee;
}

.navBlock {
    list-style-type: none;
    margin: 0 0 10px 0;
}

.active {
    font-weight: 500;
}

.navBlock > li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding: 8px;

}

.navBlock > li:hover {
    background-color: #dfe6ed;
    border-radius: 5px;
    cursor: pointer;
}



.navBlock a {
    text-decoration: none;
    color: #000;
}

.navBlock svg {
    width: 20px;
    height: 20px;
    color: #447ab9;
    pointer-events: none;
}

.svg {
    pointer-events: none;
}