.pagination {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.pagination li {
    cursor: pointer;
    padding: 0.5rem;
}

.disabled {
    cursor: not-allowed;
    color: gray;
}

.active {
    font-weight: bold;
    color: blue;
}

.ellipsis {
    padding: 0 0.3rem;
}