.descriptionBlock {
    position: relative;

}

.profileBlock {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 140px;
    padding-top: 20px;
    margin-top: -25px;
    border-radius: 15px;
    background-color: #ffffff;
    position: absolute;
}

.profileAbout {
    margin-left: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.profileUserName {
    max-width: 100%;
    font-size: 18px;
    line-height: 26px;
    color: #000;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-weight: 800;
    padding-bottom: 10px;

}









