.postWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 20px 10px;
}

.postContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.noAvatarPhoto {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    fill: darkgrey;
    border-radius: 50px;
}

.likeContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.like {
    width: 30px;
    height: 30px;
    margin: 0 10px;
    fill: #3b5998;
}